<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans|Oswald:300|Roboto|Srisakdi|Lato" rel="stylesheet">
   <link rel='stylesheet' type='text/css' href='/static/css/stylesheet.css'>
  </head>

    <title>{% block title %}TITLE HERE{% endblock %}</title>
    <!-- <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/party.css"> -->
<!-- Login page -->

{% if not session['user_id'] %}


{% endif %}



<!--Navbar-->

{% if session['user_id'] %}
<!-- <h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Via</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/map/{{ session['user_id'] }}">Map <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/user-profile/{{ session['user_id'] }}">Manage Places</a>
      <a class="nav-item nav-link" href="/itinerary/{{ session['user_id'] }}">Itineraries</a>
      <a class="nav-item nav-link" href="/">Log Out</a>
    </div>
  </div>
</nav>
</h1> -->
<h2>
<nav class="navbar navbar-expand-lg navbar-dark">

    <a id="via-logo" class="navbar-brand" href="#">Via</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-5">
        <li class="nav-item">
          <a class="nav-link" href="/map/{{ session['user_id'] }}">&nbsp;Map&nbsp;&nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/itinerary/{{ session['user_id'] }}">Itineraries</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/user-profile/{{ session['user_id'] }}">Manage places&nbsp;&nbsp;&nbsp;</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" href="/">Log Out</a>
        </li>
      </ul>

    </div>
  </nav>
</h2>

{% endif %}

<!-- Flash messages -->

{% macro flash_msgs() %}
  <div class="container">
    {% for msg in get_flashed_messages() %}
      <div class="alert alert-danger show">{{ msg }}</div>
    {% endfor %}
  </div>
{% endmacro %}


<!-- content -->
    {% block content %}
      
    {% endblock %}
</html>