{% extends 'base.html' %}

{% block title %}Itineraries{% endblock %}

{% block content %}
<body id="itinerarypage">
<div class="container-fluid itineraryform">
      
      {{ flash_msgs() }}
      <main>
        
          <section class="edit-itinerary">
          <div id="itinerary_alert"></div>
          <form id = "itinerary_form">
           <br>
            <div align="center">
            <h5>Select trip duration</h5>
            <p>
              Days <input type='number' name='days' min='0' max='1000' step='1' value='00'>
              Hours <input type='number' name='hours' min='0' max='1000' step='1' value='00'>
            </p>
            </div>
          <br> 
          <div class="itinerary_origins" align="center">
            <h5><label for="FormControlSelect1">Select a starting point from your saved locations</label></h5>      
            <p>
              <select class="form-control" name='origin_place_id' id="FormControlSelect1" size = "8">
                <option selected="selected" value='{{result[0]["place_id"]}}'>{{ result[0]['business_name'] }}&nbsp;&nbsp;-&nbsp;&nbsp;{{ result[0]['formatted_address'] }}
                </option>
                {%for location in result[1:]%}
                  <option value='{{location["place_id"]}}'>{{ location['business_name'] }}&nbsp;&nbsp;-&nbsp;&nbsp;{{ location['formatted_address'] }}
                  </option>
                {% endfor %}
              </select>
              </p>
            
       <!--      <p>
              <small>
                Please wait 1-2 to minutes before using a new location in an itinerary.<br>We're making sure we have enough road to get up to 88 because, where we're going, 
                <a href="https://www.youtube.com/watch?v=flge_rw6RG0">we need roads</a>.
              </small>
            </p> -->
            <br>
          <!-- <input id='submit' type='submit' class="btn btn-secondary btn-lg"> -->
          <button id='submit' type='submit' class="btn btn-secondary btn-lg btn-block">Let's go!</button>
        </div> 
          </form>
          </section>

      


      <section class="itinerary-display">
  


        <br>
        <br>
        <br>
        <div class="itinerary_format" id="itinerary_duration"></div><br>
        <!-- <div class="itinerary_format" id="itinerary_time_left" style= 'display: inline-block; padding: 5px;'></div> -->
        <br>
        <div class="itinerary_format" id="legs">
    <!--     {%for i in range(result|length + 1)%}
            <div id="itinerary_origin_urlhyper_{{ i }}" style= 'display: inline-block; padding: 5px;'></div>
            <div id="itinerary_destination_urlhyper_{{ i }}" style= 'display: inline-block; padding: 5px;'></div>
            <div id="itinerary_duration_{{ i }}" style= 'display: inline-block; padding: 5px;'></div>
            <br>
        {% endfor %} -->
        </div>

        <br>
        <div id="email_itinerary"></div>
        <br>

        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content w-25">
            <span class="close">&times;</span>
            <form id = "email_form" action="/itinerary/{{ user_id }}" method="POST">
            <h5>Recipient Email</h5> 
              <p><input type='text' class="form-control" name='to_email' style="font-family: Open Sans;"></p>
              <h5>Your Name</h5>
              <p><input type='text' class="form-control" name='your_name' style="font-family: Open Sans;"></p>
              <input type="hidden" id="content" name="content">
              <button id='submit' type="submit" class="btn btn-secondary">Send</button>
            </form>
</div>
        </div>
       
      </section>
</main>
</div>
</div>
    </body>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="/static/js/itinerary.js"></script>

{% endblock %}


        
