{% extends 'base.html' %}


{% block title %}Travel!{% endblock %}

{% block content %}

<a href="/user-profile/{{user.user_id}}">Manage my places</a>
<br>
<a href="/itinerary/{{user.user_id}}">Create an itinerary</a>
<br>
<a href="/">Log out</a>

    <p>{{ user.fname }} {{ user.lname }}, submit your travel URL here!</p>

    <body>

        <form id = "map_form" action="/map/{{ user.user_id }}" method="post">
            Attraction URL <input id = "url" type="text" name="url" value = "https://www.newyorker.com/magazine/2018/06/18/koks-the-worlds-most-remote-foodie-destination" style="height: 50px; width: 550px; font-style:italic" required>
            <br><br>
            Helper search terms <input id = "helper_search_terms" type="text" name="helper_search_terms" value = "faroe islands" style="font-style:italic">
            <br>
            Recommended by <input id = "recommended_by" type="text" name="recommended_by" value = "Éric Ripert" style="font-style:italic" >
             <input type="hidden" name= "user_id" id="user_id" value="{{ user.user_id }}">
            <br>
        <input type="submit">
        </form>

    </body>

    <p>Your bucket map!</p>

        <style>
          #map {
             height: 800px;  
             width: 100%;   
/*             position: initial !important;
*/           }
        </style>

    <div id='map' ></div>

    
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/static/js/map.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_KEY }}&callback=initMap">
    </script>

{% endblock %}

