{% extends 'base.html' %}

{% block title %}My Profile!{% endblock %}

{% block content %}

    <p>My places.</p>

    
    <body>
        <form action="/user-profile/{{ user_id }}" method="post">

            SELECT TO DELETE
            <br>
            <br>

            {% for location in result %}

                <input type="checkbox" name="check_list" value="{{ location['attraction_id'] }}"><b> {{ location['business_name'] }}:</b> {{ location['formatted_address'] }}
                <br>
            
            
            {% endfor %}
            <br>
            <input type="submit" value = "Delete">
        </form>


    </body>

{% endblock %}



