{% extends 'base.html' %}

{% block title %}Manage Places{% endblock %}

{% block content %}

    <p>{{ session['fname'] }}'s' places</p>

    
    <body>
        <form action="/user-profile/{{ user_id }}" method="post">

            <br>
            <br>
            <input type="submit" value = "Delete Locations (select all that apply)">
            <br>
            <br>
            {% for location in result %}

                <input type="checkbox" name="check_list" value="{{ location['attraction_id'] }}"><b> <a href="{{ location['url'] }}">{{ location['business_name'] }}</a>:</b> {{ location['formatted_address'] }} 
                <br>
            
            
            {% endfor %}

            <br>
        </form>


    </body>

{% endblock %}



